<!DOCTYPE html>
<html>
    <body>
        <h1>Authorize with Fitbit</h1>
        <form action="/authorize">
            <input type="hidden" id="auth-redirect" name="redirectURL">
            <label for="auth-submit">Authorize this app to read your Fitbit data</label><br>
            <input id="auth-submit" type="submit" value="Authorize">
        </form>
        <script type="text/javascript">
            document.getElementById('auth-redirect').value = document.URL
        </script>
    </body>
</html>